.product-container-list-right {
    border-radius: 2rem;
    background-color: #0f0f0f;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .product-container-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .products-list {
    list-style: none;
    padding: 0; /*quitar el padding por defecto de la lista  */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .product-tittle {
    border-radius: 1rem;
    padding: 0 1rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0f0f0f;
    position: relative;
  }

  .product {
    background-color: #2c2c2c;
  }
  
  .product-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .product-info-detail{
    display: flex;
    flex-direction: column;
  }

  .product-info-detail p {
    margin: 0;
    padding: 3px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #888;
  }

  .delete-icon {
    position: absolute;
    top: -0.5rem;
    right: 0;
    cursor: pointer;
  }

  span {
    color: #888;
  }

  .filters{
    display: flex;
    flex-direction: row;
    justify-content:  left;
    gap: 0.5rem;
    align-items: center;
    width: 80%;
    padding: 1rem;
  }

  .filters > .input {
    padding: 0.5rem;
    width: 20%;
    border-radius: 1rem;
    border: none;
    box-sizing: border-box; /*para que el padding no afecte el tamaño del input */
    background-color: #202020;
  }

  @media screen and (max-width: 768px) {
    .product-container-list-right {
      width: 90%;
    }

    .product-info{
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }

    .product-info-detail p {
      flex-direction: row;
      border-style: none;
    }

    .product-info-detail span {
      padding: 0 6px 0 0;
    }

    .filters{
      flex-wrap: wrap;
      align-items: center;
    }

    .filters > .input {
      width: 100%;
    }

  }